* {
    box-sizing: border-box;
}

.floatL {
     float: left;
}

.floatR {
     float: right;
}
.float-fix {
    clear: both;
}
.aukstis-100 {
    height: 100px;
}

.aukstis-200 {
    height: 200px;
}

.aukstis-300 {
    height: 300px;
}

.aukstis-400 {
    height: 400px;
}

.aukstis-500 {
    height: 500px;
}

.fonas-rud {
    background-color: brown;
}

.fonas-gelt {
    background-color: yellow;
}

.fonas-oran {
    background-color: orange;
}

.has_error {
  background-color: red;
}

.has_error::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.has_error:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

.has_error::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

.centre {
  margin-left: 15%;
  margin-right: 15%;
}

.text_center {
  text-align: center;
}

.preke {
  margin-left: 20%;
}

/* ------- */

body {
  background-color: rgb(161, 218, 152);
  font-family: 'Staatliches', cursive;
}

article {
  background-color: #7ad975;
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
  min-height: 520px;
}

img {
  width: 35%;
  height: auto;
}

aside {
  background-color: #5b68b3;
  text-align: center;
  width: 35%;
  max-height: 350px;
}

footer p {
    text-align: center;
    margin-top: 100px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  align-content: center;
  width: 60%;
}

.flex-item {
  padding: 5px;
}

.flout_fix {
  clear: both;
}
/*--------Formos---------------*/
form {
  padding-bottom: 15px;
}

form button:hover {
  cursor: pointer;
  background-color: rgb(6, 46, 14);
  color: rgb(218, 213, 235);
}

form label {
display: inline-block;
margin-top: 15px;
margin-bottom: 3px;
}

form select {
  width: 50%;
}

input {
  width: 100%;
}

.paieska {
    background-color: #eeaf46;
    display: inline-block;
    width:auto;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 25px;
    margin-right: 20px;
}

.negerasInput {
  box-shadow: 0 0 5px 1px red;
}

.mygtukas {
  width: 50%;
}

form .mygtukas {
  margin-left: 25%;
}

.uzsakyti {
  width: 30%;
}

.nav-login {
  width: 130px;
}

.plotis {
  width: 35%;
}
.plotis button {
  margin-top: 15px;
}
/*------- Tekstas---------------*/

a:link {
  text-decoration: none;
  color: rgba(73, 73, 82, 0.83);
}

a:link {
    text-decoration: none;
    color: rgba(73, 73, 82, 0.83);
}

a:visited {
    text-decoration: none;
    color: rgba(73, 73, 82, 0.83);
}

a:hover {
    text-decoration: none;
    color: rgba(73, 73, 82, 0.83);
}

a:active {
    text-decoration: none;
    color: rgba(73, 73, 82, 0.83);
}

h1 {
  text-align: center;
}

/*------- Meniu---------------*/

header {
  width: 100%;
}

nav {
  background-color: #a7bfb1;
  padding-left: 15%;
  margin-bottom: 10px;
}

nav ul .prisijungimas {
  float: right;
  margin-right: 20px;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  width: 24,5%;
  text-transform: uppercase;
  font-size: 26px;
  margin-top: 8px;
  margin-left: 12px;
}
li a:hover {
  color: rgb(28, 27, 24);
}
a:hover {
  color: rgb(28, 27, 24);
}

.kiekis {
  font-size: 16px;
  margin-left: -3px;
}
/*---------------- Medijos pagal ekrano dydžius -----------------*/
@media only screen and (max-width: 500px) {
    li {
      font-size: 20px;
      margin-left: 8px;
    }

}

@media only screen and (max-width: 1023px) {
    nav {
      width: 100%;
    }
    .paieska {
      margin-top: 0;
    }
}

@media only screen and (max-width: 800px) {
    ul {
        text-align: center;
    }
    nav {
      padding-left: 0%;
    }
}
/*-------------------slapuku baneris -----------------------*/
.cookiePopup {
  z-index: 999999;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ccc;
  padding: 15px 20px;
  color: #333;
  font-size: 12px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  line-height: 17px;
}
div {
  display: block;
}
.cookiePopupWrapper {
    width: 90%;
    margin: 0 auto;
}
.clearfix {
    display: block;
}
.cookiePopupText {
    float: left;
    width: 800px;
    margin: 0 auto;
}
.clearfix {
    display: block;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.cookiePopupButton button {
    background: #303030;
    color: #fff;
    padding: 10px 15px;
    font-weight: normal;
}
.cookiePopupButton button {
    cursor: pointer;
}
